<!-- <h1>Welcome home Promit <h1>

<label>Lets chat<lebal> 

  <a href="home/v_vchat_public">Welcome to public chat room</a>
  <a href="home/v_vchat_private_broadcast">Welcome to private chat broadcaast</a> -->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Promit Neogy</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  'bootstrap.min.css','font-awesome/css/font-awesome.min.css','animate.min.css','creative.css'%>
    
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Promit</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#works">Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                     
                    <!-- <li>
                        <a class="page-scroll" href="home/v_vchat_public">Public Chat</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="home/v_vchat_private_broadcast">Private Chat</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Promit Neogy</h1>
                <hr class='top_hr'>
                <p>I am a mumbai based <span style='color:#fff'><b>Web Developer</b></span> trying to make a difference.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

<!-- About me sections -->
    
       <section id="about">

          <div class="row">

             <div class="three columns">

                <img class="profile-pic"  src="<%=asset_path('profilepic.jpg')%>" alt="" />

             </div>

             <div class="nine columns main-col">

                <h2> Me</h2> <hr class='smalltopic'>

                <p>Hello I am full-stack web developer with over three years of professional experience. Focused on sustainable and scalable web application architecture using Ruby on Rails with extensive cutting edge technologies like Mongodb,Redis etc.Apart from development, I have extensive knowledge on operations(Ruby on rails Architecture setup with Apache and passenger etc.). I have worked on numerous projects with a wide range of frameworks.I am keen in learning new technologies and implementing new ideas to help build an enhanced web experience.I love to work on modern web technologies(Redis,mongodb,angular js etc ) to make the web experience flawless and interesting.I have acquired a deep understanding of user requirements which helps me to visualize and prototype to give the best experience to the user. I also consider myself to have excellent communication and motivational skills along with good qualities of a Team Lead with shared learning.
                </p>

             </div> <!-- end .main-col -->

          </div>

       </section> <!--  Section End-->

<!-- Work -->
<section id="works">
      <div class="row">

         <center><div><h2><span>My Works</span></h2><hr></div></center>
         <!-- Work 1 -->
         <div class="three columns">

                <img class="trustydeal"  src="<%=asset_path('TrustyDeal.png')%>" alt="" />

             </div>

             <div class="nine columns main-col">

                <h2>TrustyDeal.com</h2> <hr class='smalltopic_td'>

                <p>TrustyDeal is India’s first social classified website.People can find what their friends are selling.Compare deals based on Trust Factor Ratings.
                </br>
               </br>
                    <a href="http://www.trustydeal.com" target="_blank">www.trustydeal.com</a>

                </p>

             </div> <!-- end .main-col -->

             <!-- Work 2 -->
             <div class="three columns">

                <img class="vdogaga"  src="<%=asset_path('vdogaga.png')%>" alt="" />

             </div>

             <div class="nine columns main-col">

                <h2>Vdogaga</h2> <hr class='smalltopic_vd'>

                <p>This was my very first time experience of Online Broadcasting in India. The experience of live karaoke in India and earn performing.
                </br>
               </br>
                    <a href="https://secure-citadel-6909.herokuapp.com/" target="_blank">www.vdogaga.com</a>

                </p>

             </div> <!-- end .main-col -->

      </div> <!-- End skills -->


</section>
<!-- Work end -->
<!-- Skills -->
<section id="skills">
      <div class="row">

         <center><div><h2><span>SKILLS</span></h2><hr></div></center>

         <div class="skill">

                <div class="bars">

                   <ul class="skills">
                       <li><span class="bar-expand eightyfive"></span><em>Ruby on Rails</em></li>
                  <li><span class="bar-expand eightyfive"></span><em>MySQL | MongoDB | Postgres</em></li>
                        <li><span class="bar-expand fiftyfive"></span><em>HTML | CSS</em></li>
                        <li><span class="bar-expand fifty"></span><em>Javascript</em></li>
                        <li><span class="bar-expand seventy"></span><em>C Plus Plus | Java</em></li>
                  <li><span class="bar-expand seventyfive"></span><em>Devops</em></li>
                  <li><span class="bar-expand sixty"></span><em>Redis | Memcache</em></li>
                    </ul>

                </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

      </div> <!-- End skills -->


</section>

<!-- Skills end -->












    <section class="bg-primary" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">You can get all the details here !</h2>
                    <hr class="light">
                    <a href="/resume.pdf" target="_blank" class="btn btn-default btn-xl">View Full Resume</a>
                    <a href="/resume.docx" target="_blank" class="btn btn-default btn-xl">Download Resume</a>
                </div>
            </div>
        </div>
    </section>

        
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                 </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+91-8097229411</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:promguy7@gmail.com">promguy7@gmail.com</a></p>
                </div>
            </div>
            <center><ul class="social-links">
               <!-- <li><a href="" target="_blank"><i class="fa fa-github"></i></a></li> -->
               <li><a href="https://www.facebook.com/promit.neogy" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://plus.google.com/u/0/117918876790437905166" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://in.linkedin.com/pub/promit-neogy/48/349/230" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <div class="copyright">
               <span>&copy; Copyright Promit Neogy</span>
               <span>Credits <a title="Styleshout" href="http://startbootstrap.com/template-categories/one-page/">Start Bootstrap</a></span>   
            </div>
            </center>
        </div>
    </section>

    <!-- jQuery -->
    <%= javascript_include_tag "jquery.js","bootstrap.min.js","jquery.easing.min.js","jquery.fittext.js","wow.min.js","creative.js"%>

   
</body>

